/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
	background-color: black;
}

p,div{
	color:white;
}
.chat-start,.btn-accent,.chat-bubble{
	color: white;
}
input,.w-full{
	background-color: black;
	border: 1px solid rgb(150, 42, 132);
	margin-bottom: 10px;
}